<h3><%= link_to '冷蔵庫に入れる', new_food_path%></h3>
<h3><%= link_to '料理検索', search_cooks_path%></h3>
<h3><%= link_to '料理を作る', cooks_path%></h3>

<div class="contents row">
  <% @foods.each do |food| %>
      <p><%= food.name %></p>
  <% end %>
</div>