<%= form_with model: @food_form, url: foods_path,method: :post, class: 'form', id: 'new_food', local: true do |f| %>
  <div class="form-input">
  <div class="tag-field">
    <%= f.text_field :tagname, placeholder: '野菜の分類' %>
    <div id="search-result"></div>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>

<h3><%= link_to 'メインページに戻る', root_path%></h3>